.btn-panel {
  height: 30px;
  padding: 0 15px;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: #0487ab;
  }
}

.btn-info {
  color: #fff;
  background-color: #0487ab;
}
