.item-add-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;

  &__btn {
    padding: 8px 12px;
    color: #0487ab;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #0487ab;
    border-radius: 5px;
    cursor: pointer;

    @media screen and (min-width: 640px) {
      &:hover {
        color: #fff;
        background-color: #0487ab;
      }
    }
  }

  &__control {
    width: 100%;
    max-width: 82%;
    height: 33px;
    margin-right: 10px;
    padding: 5px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}
