@import 'basic';
@import 'todo-list';
@import 'app-header';
@import 'search-input';
@import 'item-status-filter';
@import 'item-add-form';

.todo-app {
  max-width: 500px;
  margin: 0 auto;
  padding: 12px;
}

.top-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
